/************************/
/****** Font Mixins *****/
/************************/

/* Principle mixin to use */

@mixin font-style ($font: $font-regular, $font-size: 1.4rem, $weight : 400, $style: normal, $line-height : 2rem){
  font-family: $font;
  font-style: $style;
  font-size: $font-size;
  font-weight: $weight;
  line-height: $line-height;
}

//@include font-style ($font: $font-regular, $font-size: 1.4rem, $weight : 400, $style: normal, $line-height : 2rem);



/********************************/
/****** Cutoms Fonts Mixins *****/
/********************************/

/* Add mixins here for font-style--alpha / --beta ... */


.heading--1 {
  @include font-style ($font: $font-bold, $font-size: 7rem, $weight : 400, $style: italic, $line-height : 70/80);
}

.heading--2 {
  @include font-style ($font: $font-bold, $font-size: 3.2rem, $weight : 400, $style: normal, $line-height : 40/32);
}

.heading--3 {
  @include font-style ($font: $font-bold, $font-size: 2.4rem, $weight : 400, $style: normal, $line-height : 34/24);
}

.heading--4 {
  @include font-style ($font: $font-bold, $font-size: 4rem, $weight : 400, $style: italic, $line-height : 50/40);
}

.heading--5 {
  @include font-style ($font: $font-bold, $font-size: 2rem, $weight : 400, $style: normal, $line-height : 30/20);
}

.heading--6 {
  @include font-style ($font: $font-bold, $font-size: 1.8rem, $weight : 400, $style: normal, $line-height : 28/18);
}


.teasing--1 {
  @include font-style ($font: $font-light, $font-size: 2rem, $weight: 400, $style: normal, $line-height: 30/20);
}

.teasing--2 {
  @include font-style ($font: $font-light, $font-size: 2rem, $weight : 400, $style: italic, $line-height : 1.4);
}

.teasing--3 {
  @include font-style ($font: $font-light-light, $font-size: 2.1rem, $weight : 400, $style: normal, $line-height : 30/21);
}

.teasing--4 {
  @include font-style ($font: $font-regular, $font-size: 1.8rem, $weight: 400, $style: italic, $line-height: 28/18);
}
