/*********************/
/****** Page Default ******/
/*********************/
.transition-page-enter-active {
    transition: all .3s ease .4s;
}
.transition-page-leave-active {
    transition: all .4s ease;
}
.transition-page-enter, .transition-page-leave-to
    /* .slide-fade-leave-active for <2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}


/*********************/
/****** Page About ******/
/*********************/
.transition-about-enter-active {
    transition: all .3s ease .4s;
}
.transition-about-leave-active {
    transition: all .4s ease;
}
.transition-about-enter, .transition-about-leave-to
    /* .slide-fade-leave-active for <2.1.8 */ {
    transform: translateY(10px);
    opacity: 0;
}



/*********************/
/****** Loader ******/
/*********************/
.transition-loader-leave-active {
    transition: height .8s $easeOutCubic
}
.transition-loader-enter, .transition-loader-leave-to {
    height: 0!important
}

